<!-- START IMG SLOGAN -->
<tr>
  <td bgcolor="#0047cc" align="center" height="88" style="border-collapse: collapse">
    <img
      data-assetid="460146"
      src="https://image.digital.endesaclientes.com/lib/fe341570756405757c1478/m/1/64a8343c-41ab-413d-a438-d7df1cf67b87.jpg"
      alt="Nuevo descuento para ayudarte con la subida de impuestos"
      title=""
      width="598"
      style="
        display: block;
        padding: 0px;
        text-align: center;
        border: 0px solid transparent;
        height: auto;
        width: 100%;
      " />
  </td>
</tr>
<!-- END IMG SLOGAN -->
